<html>
	<h1>
		{{ .title }}
	</h1>
	<body>
	Clicking below will redirect you to authenticate with a test provider "Mikomo."
	<br/>
	Use "mikomo_14" as the username and password when prompted.
	</body>
	<ul>
	  <li>
	  <a href={{.authCodeRedirect}}>click to redirect for auth code.</a>
	  </li>
	</ul>
</html>